
.collage img {
    padding: 3rem;
    width: 20rem;
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

.element1 {
    width: 15rem;
    display: flex;
    flex-direction: column;
}

.search h1 {
    display: flex;
    justify-content: center;
    font-size: 3rem;
}

.button-container {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 30rem;
}

.button-container button {
    margin-left: 1rem;
}