.img-container img {
    width: 20rem;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    background-color: rgb(219, 255, 195);
    padding: 1rem;
    box-shadow: 0.1rem 0.1rem 0.5rem rgba(0, 0, 0, 0.33);
}

.element1 {
    width: 15rem;
    display: flex;
    flex-direction: column;
}

.search h1 {
    display: flex;
    justify-content: center;
    font-size: 3rem;
}

.button-container {
    margin-top: 1rem;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 30rem;
}

.button-container button {
    margin-left: 1rem;
}