@font-face {
  font-family: SpotiFont;
  src: url(../public/GothamBold.ttf);
}

@font-face {
  font-family: SpotiFontDefault;
  src: url(../public/GothamMedium.ttf);
}

* {
  font-family: SpotiFontDefault;
}

button, input[type="submit"], input[type="reset"] {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

body {
  background-color: rgb(242, 255, 234);
  min-height: 150vh;
}

.white-space {
  height: 7rem;
}

.square-container {
  background-color: rgb(134, 211, 134);
  width: 45em;
  height: fit-content;
  margin-left: auto;
  margin-right: auto;
  padding: 2rem;
  border-radius: 2rem;
  box-shadow: 0.1rem 0.1rem 0.5rem rgba(0, 0, 0, 0.33);
  padding-top: 0.25em;
}

.square-container h1 {
  color: rgb(254, 255, 240);
  display: flex;
  justify-content: center;
  font-size: 3rem;
  font-family: SpotiFont;
  background-color: rgb(48, 80, 50);
  max-width: fit-content;
  margin: 2rem auto;
  padding: 1rem;
  border-radius: 1rem;
}

.square-container h2 {
  margin-left: auto;
  margin-right: auto;
  max-width: 33rem;
  font-size: 2rem;
  text-align: center;
  color: rgb(177, 103, 0);
  background-color: rgb(189, 255, 174);
  padding: 1rem;
  border-radius: 1rem;
}

.square-container p {
  margin-left: auto;
  margin-right: auto;
  max-width: 25rem;
  font-size: 1.5rem;
  text-align: center;
  color: rgb(88, 88, 73);
  background-color: rgba(189, 255, 174, 0.467);
  padding: 1rem;
  border-radius: 1rem;
}

.login-container {
  background-color: rgb(87, 162, 87);
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 1rem;
  width: 60%;
  margin: 0 auto;
  border-radius: 1rem;
  row-gap: 0.25rem;
}

.login-button {
  background-color: rgb(18, 41, 26);
  cursor: pointer;
  margin: 0 auto;
  margin-top: 1.5rem;
  width: 27rem;
  height: 7rem;
  border-radius: 10rem;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
}

.login-button:hover {
  background-color: rgb(41, 58, 41);
  transition: 0.5s;
}

.login-button:active {
  background-color: rgb(13, 255, 0);
  transition: 0.1s;
}

.login-button .button-text {
  color: aliceblue;
  font-size: 1.5rem;
}

.login-button:hover .button-text {
  color: yellow;
  transition: 0.25s;
  text-shadow:0.1rem 0.1rem 2rem yellow;
}

.common-button {
  background-color: rgb(255, 241, 177);
  cursor: pointer;
  width: 15rem;
  height: 5rem;
  border-radius: 1rem;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
  border: 0.1rem solid rgb(184, 182, 126);
}

.common-button:hover {
  background-color: rgb(255, 172, 125);
  transition: 0.5s;
}

.common-button:active {
  background-color: rgb(211, 149, 128);
  transition: 0.1s;
}

.common-button span {
  color: rgba(0, 0, 0, 0.784);
  font-size: 1rem;
}

.descriptions {
  margin-top: 5rem;
  margin-left: auto;
  margin-right: auto;
  width: 30rem;
}

.descriptions h2 {
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  width: 30rem;
  font-size: 3rem;
  text-align: center;
}

.descriptions p {
  font-size: 1.5rem;
  line-height: 2rem;
  text-align: center;
}

.spotify-logo {
  width: 5rem;
  margin-right: 1.5rem;
  margin-left: 0;
}