.title {
    color: rgb(254, 255, 240);
    display: flex;
    justify-content: center;
    font-size: 1rem;
    background-color: rgb(48, 80, 50);
    max-width: fit-content;
    margin-bottom: 2rem;
    margin-left: auto;
    margin-right: auto;
    padding: 1rem;
    border-radius: 1rem;
    text-align: center;
}

.collage-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: 70rem;
    margin-left: auto;
    margin-right: auto;
    padding: 3rem;
    background-color: rgb(134, 211, 134);
    border-radius: 1rem;
    margin-bottom: 3rem;
}

.collage-container .collage1 {
    width: 15rem;
    padding: 0.5rem;
}

.collage-container img {
    padding: 1rem;
    margin-bottom: 1rem;
    background-color: rgb(219, 255, 195);
    box-shadow: 0.1rem 0.1rem 0.5rem rgba(0, 0, 0, 0.33);
}